#body {
    min-height: 100vh;
    background-color:var(--fColor);
    margin-top: 1%;
}
#tit{
    color:#072227;
    max-height: 10vh;
}

#com{
    color: #35858B;
}

#postBtn{
    color: white;
    background-color: #35858B;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}
#postText{
    position: relative;
}
#postText i,#commentForm i{
    position: absolute;
    top:0px;
    right: 0px;
    font-size: 20px;
    color: red;
}
#postText span{
    color: var(--sColor);
}
#commentForm input{
    width: 95%;
    margin-left: 20px;
}
#commentForm button{
    background-color: var(--sColor);
    border-radius: 5px;
    color: white;
    margin-left: 42%;
    padding: 5px 20px;
    text-align: center;
}
#commentBody {
    width: 100%;
    color: var(--sColor);
}
#commentBody + sub{
    margin-bottom: 10px;
    text-align: right;
   
    font-size: 10px;
}
#report{
    font-size: 20px;
    color: red;
}

#message{
    font-size: 170%;
    height: 20vh;
}


#my-2:hover{
    color: white;
    background-color: #072227;
}
