
#bd1{
    background-color: #072227;
  
}
.containercolor {
    background-color: #072227;
}
#opp{
    /* opacity: 0.7; */
    /* background-color: #4FBDBA; */
    /* background-image: linear-gradient(to right,white 70%, #4FBDBA 30%); */
    background: linear-gradient(360deg,#AEFEFF,white);
   
}
#content{
    font-size: small;
    color: #35858B;
}
#content::first-letter {
    font-size: 150%;
    color: #072227;
  }

#dt{
    display: inline-block;
}

h1#com{
    letter-spacing: 4px;
    background: linear-gradient(to right , var(--foColor), white,var(--tColor));
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    font-size: 34px;
}